#OrderList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#OrderList-Header {
    text-align: center;
    color: var(--menu-tx-color);
}

.OrderList-Order {
    flex: 1;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
}

.OrderList-Order-Header {
    display: flex;
    flex-direction: row;
}

.OrderList-Order-Expand {
    flex: 0;
}

.OrderList-Order-Header > div {
    align-items: center;
}

.OrderList-Order-Header .OrderList-Order-Items {
    flex: 1;
}

.OrderList-Order-Element:not(:last-child) {
    margin-bottom: 10px;
}

.OrderList-Order-Items {
    margin: 10px;
}

.OrderList-Order-Items span {
    display: block;
}

.OrderList-Order-Transactions {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#OrderList-Charts {
    text-align: center;
}

#OrderList-Charts h2 {
    color: var(--menu-tx-color);
}